<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.codelegend.generator.mapper.MemberIMapper">
    <resultMap id="BaseResultMap" type="com.dc.codelegend.domain.Member">
        <id column="member_id" jdbcType="INTEGER" property="memberId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="md5_extend" jdbcType="VARCHAR" property="md5Extend"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="pay_password" jdbcType="VARCHAR" property="payPassword"/>
        <result column="wechat_openid" jdbcType="VARCHAR" property="wechatOpenid"/>
        <result column="mini_openid" jdbcType="VARCHAR" property="miniOpenid"/>
        <result column="union_id" jdbcType="VARCHAR" property="unionId"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="header_pic" jdbcType="VARCHAR" property="headerPic"/>
        <result column="wechat_name" jdbcType="VARCHAR" property="weChatName"/>
        <result column="qq_openid" jdbcType="VARCHAR" property="qqOpenid"/>
        <result column="cellphone" jdbcType="VARCHAR" property="cellPhone"/>
        <result column="qq" jdbcType="VARCHAR" property="qq"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="diy_sign" jdbcType="VARCHAR" property="diySign"/>
        <result column="group_id" jdbcType="TINYINT" property="groupId"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="is_subscribe" jdbcType="TINYINT" property="isSubscribe"/>
        <result column="money" jdbcType="DECIMAL" property="money"/>
        <result column="created_at" jdbcType="DATE" property="createdAt"/>
        <result column="updated_at" jdbcType="DATE" property="updatedAt"/>
        <result column="is_insider" jdbcType="VARCHAR" property="isInsider"/>
    </resultMap>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sdw_member
        where `member_id` = #{memberId,jdbcType=INTEGER}
    </select>
    <!--    <select id="findPage" resultMap="BaseResultMap" parameterType="map">-->
    <!--        select-->
    <!--      <include refid="Base_Column_List"/>-->
    <!--      from sdw_question_category-->
    <!--        <where>-->
    <!--            question_category_id like '%${page.questionCategoryId}%'-->
    <!--            <if test="page.parentId != null">-->
    <!--                and parent_id like '%${page.parentId}%'-->
    <!--            </if>-->
    <!--            <if test="page.parentIdFirst != null">-->
    <!--                and parent_id_first like '%${page.parentIdFirst}%'-->
    <!--            </if>-->
    <!--            <if test="page.title != null">-->
    <!--                and title like '%${page.title}%'-->
    <!--            </if>-->
    <!--            <if test="page.keywords != null">-->
    <!--                and keywords like '%${page.keywords}%'-->
    <!--            </if>-->
    <!--            <if test="page.categoryDesc != null">-->
    <!--                and category_desc like '%${page.categoryDesc}%'-->
    <!--            </if>-->
    <!--            <if test="page.icon != null">-->
    <!--                and icon like '%${page.icon}%'-->
    <!--            </if>-->
    <!--            <if test="page.thumb != null">-->
    <!--                and thumb like '%${page.thumb}%'-->
    <!--            </if>-->
    <!--            &lt;!&ndash;<if test="page.propPic != null">&ndash;&gt;-->
    <!--            &lt;!&ndash;and prop_pic like '%${page.propPic}%'&ndash;&gt;-->
    <!--            &lt;!&ndash;</if>&ndash;&gt;-->
    <!--            <if test="page.state != null">-->
    <!--                and state like '%${page.state}%'-->
    <!--            </if>-->
    <!--            <if test="page.listOrder != null">-->
    <!--                and list_order like '%${page.listOrder}%'-->
    <!--            </if>-->
    <!--        </where>-->
    <!--        limit ${page.limit} OFFSET ${page.offset}-->
    <!--    </select>-->
    <!--    <select id="countByFindPage" resultType="java.lang.Long" parameterType="map">-->
    <!--        select count(*) from sdw_question_category-->
    <!--        <where>-->
    <!--            question_category_id like '%${page.questionCategoryId}%'-->
    <!--            <if test="page.parentId != null">-->
    <!--                and parent_id like '%${page.parentId}%'-->
    <!--            </if>-->
    <!--            <if test="page.parentIdFirst != null">-->
    <!--                and parent_id_first like '%${page.parentIdFirst}%'-->
    <!--            </if>-->
    <!--            <if test="page.title != null">-->
    <!--                and title like '%${page.title}%'-->
    <!--            </if>-->
    <!--            <if test="page.keywords != null">-->
    <!--                and keywords like '%${page.keywords}%'-->
    <!--            </if>-->
    <!--            <if test="page.categoryDesc != null">-->
    <!--                and category_desc like '%${page.categoryDesc}%'-->
    <!--            </if>-->
    <!--            <if test="page.icon != null">-->
    <!--                and icon like '%${page.icon}%'-->
    <!--            </if>-->
    <!--            <if test="page.thumb != null">-->
    <!--                and thumb like '%${page.thumb}%'-->
    <!--            </if>-->
    <!--            &lt;!&ndash;<if test="page.propPic != null">&ndash;&gt;-->
    <!--            &lt;!&ndash;and prop_pic like '%${page.propPic}%'&ndash;&gt;-->
    <!--            &lt;!&ndash;</if>&ndash;&gt;-->
    <!--            <if test="page.state != null">-->
    <!--                and state like '%${page.state}%'-->
    <!--            </if>-->
    <!--            <if test="page.listOrder != null">-->
    <!--                and list_order like '%${page.listOrder}%'-->
    <!--            </if>-->
    <!--        </where>-->

    <!--    </select>-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sdw_member
    where `member_id` = #{memberId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.dc.codelegend.domain.Member">
    insert into sdw_member (`member_id`, `name`, `md5_extend`,
      `password`, `pay_password`, `wechat_openid`,
      `mini_openid`, `union_id`, `nick_name`,
      `header_pic`, `wechat_name`, `qq_openid`,
      `cellphone`,`qq`, `email`, `sex`,
      `birthday`, `address`, `diy_sign`,
      `group_id`,`state`, `is_subscribe`, `money`,
      `created_at`, `updated_at`, `is_insider`)
    values (#{memberId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{md5Extend,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR}, #{payPassword,jdbcType=VARCHAR}, #{wechatOpenid,jdbcType=VARCHAR},
      #{miniOpenid,jdbcType=VARCHAR}, #{unionId,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR},
      #{headerPic,jdbcType=VARCHAR}, #{weChatName,jdbcType=VARCHAR}, #{qqOpenid,jdbcType=VARCHAR},
      #{cellPhone,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
      #{sex,jdbcType=TINYINT}, #{birthday,jdbcType=DATE}, #{address,jdbcType=VARCHAR},
      #{diySign,jdbcType=VARCHAR}, #{groupId,jdbcType=TINYINT}, #{state,jdbcType=TINYINT},
      #{isSubscribe,jdbcType=TINYINT}, #{money,jdbcType=DECIMAL}, #{createdAt,jdbcType=DATE},
      #{updatedAt,jdbcType=DATE},#{isInsider,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.dc.codelegend.domain.Member">
    update sdw_member
    set `name` = #{name,jdbcType=INTEGER},
      `md5_extend` = #{md5Extend,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      `pay_password` = #{payPassword,jdbcType=VARCHAR},
      `wechat_openid` = #{wechatOpenid,jdbcType=VARCHAR},
      `mini_openid` = #{miniOpenid,jdbcType=VARCHAR},
      `union_id` = #{unionId,jdbcType=VARCHAR},
      `nick_name` = #{nickName,jdbcType=VARCHAR},
      `header_pic` = #{headerPic,jdbcType=VARCHAR},
      `wechat_name` = #{weChatName,jdbcType=VARCHAR},
      `qq_openid` = #{qqOpenid,jdbcType=VARCHAR},
      `cellphone` = #{cellPhone,jdbcType=VARCHAR},
      `qq` = #{qq,jdbcType=VARCHAR},
      `email` = #{email,jdbcType=VARCHAR},
      `sex` = #{sex,jdbcType=TINYINT},
      `birthday` = #{birthday,jdbcType=DATE},
      `address` = #{address,jdbcType=VARCHAR},
      `diy_sign` = #{diySign,jdbcType=VARCHAR},
      `group_id` = #{groupId,jdbcType=TINYINT},
      `state` = #{state,jdbcType=TINYINT},
      `is_subscribe` = #{isSubscribe,jdbcType=TINYINT},
      `money` = #{money,jdbcType=DECIMAL},
      `created_at` = #{createdAt,jdbcType=DATE},
      `updated_at` = #{updatedAt,jdbcType=DATE},
      `is_insider` = #{isInsider,jdbcType=VARCHAR}
    where `member_id` = #{memberId,jdbcType=INTEGER}
  </update>
</mapper>