<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.codelegend.generator.mapper.QuestionOnlineIMapper">
    <resultMap id="BaseResultMap" type="com.dc.codelegend.domain.QuestionOnline">
        <id column="question_online_id" jdbcType="INTEGER" property="questionOnlineId"/>
        <result column="name" jdbcType="INTEGER" property="memberId"/>
        <result column="fd" jdbcType="BIGINT" property="fd"/>
        <result column="isOnline" jdbcType="TINYINT" property="isOnline"/>
        <result column="isPk" jdbcType="TINYINT" property="is_pk"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="fx_member_id" jdbcType="INTEGER" property="fxMemberId"/>
        <result column="question_dan_id" jdbcType="INTEGER" property="questionDanId"/>
        <result column="created_at" jdbcType="DATE" property="createdAt"/>
        <result column="updated_at" jdbcType="DATE" property="updatedAt"/>
    </resultMap>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sdw_question_online
        where `question_online_id` = #{questionOnlineId,jdbcType=INTEGER}
    </select>
    <!--    <select id="findPage" resultMap="BaseResultMap" parameterType="map">-->
    <!--        select-->
    <!--      <include refid="Base_Column_List"/>-->
    <!--      from sdw_question_category-->
    <!--        <where>-->
    <!--            question_category_id like '%${page.questionCategoryId}%'-->
    <!--            <if test="page.parentId != null">-->
    <!--                and parent_id like '%${page.parentId}%'-->
    <!--            </if>-->
    <!--            <if test="page.parentIdFirst != null">-->
    <!--                and parent_id_first like '%${page.parentIdFirst}%'-->
    <!--            </if>-->
    <!--            <if test="page.title != null">-->
    <!--                and title like '%${page.title}%'-->
    <!--            </if>-->
    <!--            <if test="page.keywords != null">-->
    <!--                and keywords like '%${page.keywords}%'-->
    <!--            </if>-->
    <!--            <if test="page.categoryDesc != null">-->
    <!--                and category_desc like '%${page.categoryDesc}%'-->
    <!--            </if>-->
    <!--            <if test="page.icon != null">-->
    <!--                and icon like '%${page.icon}%'-->
    <!--            </if>-->
    <!--            <if test="page.thumb != null">-->
    <!--                and thumb like '%${page.thumb}%'-->
    <!--            </if>-->
    <!--            &lt;!&ndash;<if test="page.propPic != null">&ndash;&gt;-->
    <!--            &lt;!&ndash;and prop_pic like '%${page.propPic}%'&ndash;&gt;-->
    <!--            &lt;!&ndash;</if>&ndash;&gt;-->
    <!--            <if test="page.state != null">-->
    <!--                and state like '%${page.state}%'-->
    <!--            </if>-->
    <!--            <if test="page.listOrder != null">-->
    <!--                and list_order like '%${page.listOrder}%'-->
    <!--            </if>-->
    <!--        </where>-->
    <!--        limit ${page.limit} OFFSET ${page.offset}-->
    <!--    </select>-->
    <!--    <select id="countByFindPage" resultType="java.lang.Long" parameterType="map">-->
    <!--        select count(*) from sdw_question_category-->
    <!--        <where>-->
    <!--            question_category_id like '%${page.questionCategoryId}%'-->
    <!--            <if test="page.parentId != null">-->
    <!--                and parent_id like '%${page.parentId}%'-->
    <!--            </if>-->
    <!--            <if test="page.parentIdFirst != null">-->
    <!--                and parent_id_first like '%${page.parentIdFirst}%'-->
    <!--            </if>-->
    <!--            <if test="page.title != null">-->
    <!--                and title like '%${page.title}%'-->
    <!--            </if>-->
    <!--            <if test="page.keywords != null">-->
    <!--                and keywords like '%${page.keywords}%'-->
    <!--            </if>-->
    <!--            <if test="page.categoryDesc != null">-->
    <!--                and category_desc like '%${page.categoryDesc}%'-->
    <!--            </if>-->
    <!--            <if test="page.icon != null">-->
    <!--                and icon like '%${page.icon}%'-->
    <!--            </if>-->
    <!--            <if test="page.thumb != null">-->
    <!--                and thumb like '%${page.thumb}%'-->
    <!--            </if>-->
    <!--            &lt;!&ndash;<if test="page.propPic != null">&ndash;&gt;-->
    <!--            &lt;!&ndash;and prop_pic like '%${page.propPic}%'&ndash;&gt;-->
    <!--            &lt;!&ndash;</if>&ndash;&gt;-->
    <!--            <if test="page.state != null">-->
    <!--                and state like '%${page.state}%'-->
    <!--            </if>-->
    <!--            <if test="page.listOrder != null">-->
    <!--                and list_order like '%${page.listOrder}%'-->
    <!--            </if>-->
    <!--        </where>-->

    <!--    </select>-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from sdw_question_online
    where `question_online_id` = #{questionOnlineId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.dc.codelegend.domain.Member">
    insert into sdw_question_online
    (`question_online_id`, `member_id`, `fd`,
      `is_online`, `is_pk`, `type`,
      `fx_member_id`, `question_dan_id`,
      `created_at`, `updated_at`)
    values (#{questionOnlineId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{fd,jdbcType=BIGINT},
      #{isOnline,jdbcType=TINYINT}, #{isPk,jdbcType=TINYINT}, #{type,jdbcType=TINYINT},
      #{fxMemberId,jdbcType=INTEGER}, #{questionDanId,jdbcType=INTEGER}, #{createdAt,jdbcType=DATE},
      #{updatedAt,jdbcType=DATE})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.dc.codelegend.domain.Member">
    update sdw_question_online
    set `member_id` = #{memberId,jdbcType=INTEGER},
      `fd` = #{fd,jdbcType=BIGINT},
      `is_online` = #{isOnline,jdbcType=TINYINT},
      `is_pk` = #{isPk,jdbcType=TINYINT},
      `type` = #{type,jdbcType=TINYINT},
      `fx_member_id` = #{fxMemberId,jdbcType=INTEGER},
      `question_dan_id` = #{questionDanId,jdbcType=INTEGER},
      `created_at` = #{createdAt,jdbcType=DATE},
      `updated_at` = #{updatedAt,jdbcType=DATE}
    where `question_online_id` = #{question_online_id,jdbcType=INTEGER}
  </update>
</mapper>